@model WA_CRUD_Tienda.Models.ArticuloTiendum

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ArticuloTiendum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoArticuloAt" class="control-label"></label>
                <select asp-for="CodigoArticuloAt" class ="form-control" asp-items="ViewBag.CodigoArticuloAt"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoSucursalAt" class="control-label"></label>
                <select asp-for="CodigoSucursalAt" class ="form-control" asp-items="ViewBag.CodigoSucursalAt"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaAs" class="control-label"></label>
                <input asp-for="FechaAs" class="form-control" />
                <span asp-validation-for="FechaAs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
